body {
  font-family: 'Source Sans Pro', sans-serif;
}
.starter-template {
  padding: 3rem 1.5rem;
}


h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6;
}

.container-bg {
  padding: 1.5em;
  background-color: #F3F3F3;
}
.container-bg h5 {
  font-size: 1em;
  margin-bottom: 1em;
  font-weight: 300;
}
@media (min-width: 992px) {
  .container-bg {
  padding: 4em;
  background-color: #F3F3F3;
} 
.container-bg h5 {
  font-size: 1em;
  margin-bottom: 0;
} }

.btn-y {
display: inline-block;
background-color: #f9d021;
font-family: "Source Sans Pro", sans-serif;
border-radius: 18.7px;
border: 0;
color: white;
margin-top: none;
margin-right: auto;
margin-left: 15px; }
@media (min-width: 992px) {
      .btn-y {
          background-color: #f9d021;
          font-family: "Source Sans Pro", sans-serif;
          border-radius: 18.7px;
          border: 0;
          color: white;
          margin-top: 1em;
          margin-right: auto;
          margin-left: auto;
        } }


.btn-xl {
margin-left: 0;
margin-bottom: 1.5em;
font-size: 16px;
padding: 8px 60px;
font-weight: 300; }
    @media (min-width: 992px) {
    .btn-xl {
      font-size: 16px;
      padding: 10px 100px;
      font-weight: 300;
    } }